[submodule "dependencies/phulkan_generator"]
	path = dependencies/phulkan_generator
	url = https://github.com/phiwen96/phulkan_generator.git
[submodule "dependencies/const_str"]
	path = dependencies/const_str
	url = https://github.com/phiwen96/const_str.git
