[submodule "dependencies/phulkan_generator"]
	path = dependencies/phulkan_generator
	url = https://github.com/phiwen96/phulkan_generator.git
[submodule "cmake/phake"]
	path = cmake/phake
	url = https://github.com/phiwen96/phake.git
